<div class="mx-auto item-width mt-4">
  {{#each this}}
  <section class="card bg-dark mt-2">
    <div class="url pt-3 ps-3">
      <strong>{{user.username}}</strong> on {{format_date created_at}}
    </div>
    <div class="card-body url ps-4">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>