<section class="card mx-auto mt-4 item-width">

  <div class="card bg-dark">
    <div class="card-body">

 <h3 class="title">Create New Post</h3>

  <form class="form" id="add-post">
    <div class="mt-2">
      <label class="url" for="post-title">Title</label>
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label class="url" for="post-url">Link</label>
      <input class="form-control" id="post-url" name="post-url" />
    </div>
     <div>
      <label class="url" for="post-contents">Review</label>
      <input class="form-control" type="text" id="post-contents" name="post-contents" />
    </div>
    <button class="btn btn-secondary btn-lg mt-3" type="submit">Create</button>
  </form>
   </div>
  </div>
</section>


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}"  class="btn btn-secondary btn-sm mt-3" id="edit-link" style="margin-left: 5%;">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>