  <section class="card mx-auto mt-4 item-width">
    <div class="card bg-dark">
      <div class="card-body">
<form class="form" id="login-form">
  <div>
    <label class="url"  for="email-login">email:</label>
    <input class="form-control" type="text" id="email-login" />
  </div>
  <div>
    <label class="url mt-2" for="password-login">password:</label>
    <input class="form-control" type="password" id="password-login" />
  </div>
  <div>
    <button class="btn btn-secondary btn-lg mt-3" type="submit">login</button>
  </div>
</form>
</div>
</div>
</section>

  <section class="card mx-auto mt-4 item-width">
    <div class="card bg-dark">
      <div class="card-body">
<form class="form" id="signup-form">
  <div>
    <label class="url"  for="username-signup">username:</label>
    <input class="form-control" type="text" id="username-signup" />
  </div>
  <div>
    <label class="url mt-2"  for="email-signup">email:</label>
    <input class="form-control" type="text" id="email-signup" />
  </div>
  <div>
    <label class="url mt-2"  for="password-signup">password:</label>
    <input class="form-control" type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn btn-secondary btn-lg mt-3" type="submit">signup</button>
  </div>
</form>
</div>
</div>
</section>

<script src="/javascript/login.js"></script>